@{ 
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; 
}
	<br>
	<br>
	<br>
	<br>
	<div class="page-content bg-white">
		<!-- inner page banner -->

		<!-- inner page banner END -->
		<!-- Filters Search -->
		<div class="section-full browse-job-find">
			<div class="container">
				<div class="find-job-bx">
					<div class="dezPlaceAni">
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="form-group">
									
									
									<div class="input-group">
										@if(ViewBag.KeyWord!=null)
										{
										<input id="keyword" placeholder="Job Title, Tags ,Keywords, or Phrase" type="text" class="form-control" value="@ViewBag.KeyWord"
											placeholder="">
										}
										else
										{
										<input id="keyword" placeholder="Job Title, Keywords, or Phrase" type="text" class="form-control" value="" placeholder="">

										}
										<div class="input-group-append">
											<span class="input-group-text"><i class="fa fa-search"></i></span>
										</div>
									</div>
								</div>
							</div>


							<div class="col-lg-2 col-md-2">
								<button id="searchBtn" class="site-button btn-block">Find Job</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Filters Search END -->
		<!-- contact area -->
		<div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full browse-job p-b50">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-4 col-md-5 m-b30">
							<aside id="accordion1" class="sticky-top sidebar-filter bg-white">
								<h6 class="title"><i class="fa fa-sliders m-r5"></i> Refined By <a
										onclick="resetInput()" style="cursor: pointer;" class="font-12 float-right">Reset All</a></h6>
								
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a data-toggle="collapse" href="#experience" class="collapsed">
												Experience
											</a>
										</h6>
									</div>
									<div id="experience" class="acod-body collapse">
										<div class="acod-content">
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="exp-op1" name="experience" value="1" type="radio"
													>
												<label class="custom-control-label" for="exp-op1">0 - 1 years
													</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" name="experience" value="2" id="exp-op2" type="radio"
													>
												<label class="custom-control-label" for="exp-op2">1 - 2 years
													 </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" name="experience" value="3" id="exp-op3" type="radio"
													>
												<label class="custom-control-label" for="exp-op3">2 - 3 years
													 </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" name="experience" value="4" id="epx-op4" type="radio"
													>
												<label class="custom-control-label" for="epx-op4">3 - 4 years
													</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" name="experience" value="5" id="exp-op5" type="radio"
													>
												<label class="custom-control-label" for="exp-op5">4 - 5 years
													</label>
											</div>
											
										</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a data-toggle="collapse" href="#salary" class="collapsed">
												Salary
											</a>
										</h6>
									</div>
									<div id="salary" class="acod-body collapse">
										<div class="acod-content">
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="salary-op1" name="salary" value="1-10000" type="radio"
													>
												<label class="custom-control-label" for="salary-op1">0-10,000 K
													</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" name="salary" value="10000-2000" id="salary-op2" type="radio"
													>
												<label class="custom-control-label" for="salary-op2">10,000 - 20,000 K
													 </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" name="salary" value="20000-40000" id="salary-op3" type="radio"
													>
												<label class="custom-control-label" for="salary-op3">20,000 - 40,000K
													 </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" name="salary" value="40000-60000" id="salary-op4" type="radio"
													>
												<label class="custom-control-label" for="salary-op4">40,000 - 60,000K
													</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" name="salary" value="60000-100000" id="salary-op5" type="radio"
													>
												<label class="custom-control-label" for="salary-op5">60,000 - 100,000K
													</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="salary-op5" name="salary" value="100000" type="radio"
													>
												<label class="custom-control-label" for="salary-op5">100,000K +
													</label>
											</div>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a data-toggle="collapse" href="#industry" class="collapsed">
												Industry
											</a>
										</h6>
									</div>
									<div id="industry" class="acod-body collapse">
										<div class="acod-content">
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry1"  value="Information Technology" type="radio"
													name="category">
												<label class="custom-control-label" for="industry1">IT
													</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry2" value="Construction" type="radio"
													name="category">
												<label class="custom-control-label" for="industry2">Construction
													</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry3" value="Engineering/Projects" type="radio"
													name="category">
												<label class="custom-control-label" for="industry3">Engineering/Projects
												 </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry3" value="Teaching" type="radio"
													name="category">
												<label class="custom-control-label" for="industry3">Teaching
												 </label>
											</div>
											
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry4" type="radio"
													name="category">
												<label class="custom-control-label"
													for="industry4">Manufacturing/Industrial</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry4" type="radio"
													name="category" value="Real Estate">
												<label class="custom-control-label"
													for="industry4">Real Estate</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry4" value="Sales" type="radio"
													name="category">
												<label class="custom-control-label"
													for="industry4">Sales</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry5" type="radio"
													name="category" value="Quality check">
												<label class="custom-control-label"
													for="industry5">Quality check
													</label>
											</div>
										</div>
									</div>
								</div>
							</aside>
						</div>
						<div class="col-xl-9 col-lg-8 col-md-7">
						<div id="job-searchitems">
							<div class="job-bx-title clearfix">
								<h5 class="font-weight-700 pull-left text-uppercase">Showing @Model.Count</h5>
								<div class="float-right">
									<span class="select-title">Sort by freshness</span>
									<select class="bs-select-hidden">
										<option>Last 2 Months</option>
										<option>Last Months</option>
										<option>Last Weeks</option>
										<option>Last 3 Days</option>
									</select>
									
									<div class="float-right p-tb5 p-r10">
										<a href="#" class="p-lr5"><i class="fa fa-th-list"></i></a>
										<a href="#" class="p-lr5"><i class="fa fa-th"></i></a>
									</div>
								</div>
							</div>
						
								<ul class="post-job-bx browse-job-grid row">

									@foreach(var x in Model)
									{
									<li class="col-lg-6 col-md-12">
										<div class="post-bx">
											<div class="d-flex m-b30">
												<div class="job-post-info">
													<h5><a asp-action="JobDetails" asp-route-id="@x.Id"
															asp-route-title="@x.Title.Replace(" "," -")"> @(x.Title.Length>26? x.Title.Substring(0,25)+ "..." : x.Title )</a>
													</h5>
													<ul>
														<li><i class="fa fa-map-marker"></i> @x.Location</li>
														<li><i class="fa fa-bookmark-o"></i> @x.Category</li>
														<li><i class="fa fa-clock-o"></i> @x.PostedOn</li>
													</ul>
												</div>
											</div>
											 <div class="dez-post-tags clear">
											<div class="post-tags">
												@foreach (var item in x.Tag.Split(','))
												{
												<a href="javascript:void(0);">@item </a>

												}

											</div>
											 </div>
											 <br>
											<div class="d-flex">
												<div class="job-time mr-auto">
													<a href="javascript:void(0);"><span>@x.Type</span></a>
												</div>
												<div class="salary-bx">
													<span>@x.MinSalary.ToString("N0") - @x.MaxSalary.ToString("N0")</span>
												</div>
											</div>
											@* <label class="like-btn">
												<input type="checkbox">
												<span class="checkmark"></span>
											</label> *@
										</div>
									</li>
									}

								</ul>
						</div>
							<div class="pagination-bx float-right m-t30">
								<ul class="pagination">
									<li class="previous">
										<a asp-action="Browse"
           asp-route-page="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled btn"><i class="ti-arrow-left"></i>
											Prev</a></li>
									
									<li class="next">
										<a asp-action="Browse"
           asp-route-page="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled btn" >Next <i
												class="ti-arrow-right"></i></a></li>
								</ul>
							</div>
								</div>
						
					</div>
				</div>
			</div>
			<!-- Browse Jobs END -->
		</div>

	</div>
	<!-- Content END-->
	<!-- Modal Box -->
	<script src="/assets/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="/js/browsejob.js"></script><!-- JQUERY.MIN JS -->
