@model List<IndexView>
	<br>
	<br>
	<br>
	<br>
	<div class="page-content bg-white">
		<!-- inner page banner -->

		<!-- inner page banner END -->
		<!-- Filters Search -->
		<div class="section-full browse-job-find">
			<div class="container">
				<div class="find-job-bx">
					<div class="dezPlaceAni">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									
									
									<div class="input-group">
										@if(ViewBag.KeyWord!=null)
										{
										<input id="keyword" placeholder="Job Title, Tags ,Keywords, or Phrase" type="text" class="form-control" value="@ViewBag.KeyWord"
											placeholder="">
										}
										else
										{
										<input id="keyword" placeholder="Job Title, Keywords, or Phrase" type="text" class="form-control" value="" placeholder="">

										}
										<div class="input-group-append">
											<span class="input-group-text"><i class="fa fa-search"></i></span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4">
								<div class="form-group">
									<select id="category">
										<option value="">All</option>
										<option>Construction</option>
										<option>Corodinator</option>
										<option>Employer</option>
										<option>Financial Career</option>
										<option>Information Technology</option>
										<option>Marketing</option>
										<option>Quality check</option>
										<option>Real Estate</option>
										<option>Sales</option>
										<option>Supporting</option>
										<option>Teaching</option>
									</select>
								</div>
							</div>
							<div class="col-lg-2 col-md-2">
								<button id="searchBtn" class="site-button btn-block">Find Job</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Filters Search END -->
		<!-- contact area -->
		<div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full browse-job p-b50">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-4 col-md-5 m-b30">
							<aside id="accordion1" class="sticky-top sidebar-filter bg-white">
								<h6 class="title"><i class="fa fa-sliders m-r5"></i> Refined By <a
										href="javascript:void(0);" class="font-12 float-right">Reset All</a></h6>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a data-toggle="collapse" href="#companies">
												Companies
											</a>
										</h6>
									</div>
									<div id="companies" class="acod-body collapse">
										<div class="acod-content">
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" id="companies1" type="radio"
													name="checkbox-companies">
												<label class="custom-control-label" for="companies1">Job Mirror
													Consultancy <span>(50)</span> </label>
											</div>
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" id="companies2" type="radio"
													name="checkbox-companies">
												<label class="custom-control-label" for="companies2">Engineering Group
													<span>(80)</span> </label>
											</div>
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" id="companies3" type="radio"
													name="checkbox-companies">
												<label class="custom-control-label" for="companies3">Electric Co.
													<span>(235)</span> </label>
											</div>
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" id="companies4" type="radio"
													name="checkbox-companies">
												<label class="custom-control-label" for="companies4">Telecom industry
													<span>(568)</span></label>
											</div>
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" id="companies5" type="radio"
													name="checkbox-companies">
												<label class="custom-control-label" for="companies5">Safety/ Health
													<span>(798)</span></label>
											</div>
										</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a data-toggle="collapse" href="#experience" class="collapsed">
												Experience
											</a>
										</h6>
									</div>
									<div id="experience" class="acod-body collapse">
										<div class="acod-content">
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="minsalary" type="radio"
													name="radio-years">
												<label class="custom-control-label" for="one-years">0-1 Years
													<span>(120)</span> </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="maxsalary" type="radio"
													name="radio-years">
												<label class="custom-control-label" for="two-years">1-2 Years
													<span>(300)</span> </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="experience" type="radio"
													name="radio-years">
												<label class="custom-control-label" for="three-years">2-3 Years
													<span>(235)</span> </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="four-years" type="radio"
													name="radio-years">
												<label class="custom-control-label" for="four-years">3-4 Years
													<span>(568)</span></label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="five-years" type="radio"
													name="radio-years">
												<label class="custom-control-label" for="five-years">4-5 Years
													<span>(798)</span></label>
											</div>
										</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a data-toggle="collapse" href="#salary" class="collapsed">
												Salary
											</a>
										</h6>
									</div>
									<div id="salary" class="acod-body collapse">
										<div class="acod-content">
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="salary-op1" type="radio"
													name="radio-currency">
												<label class="custom-control-label" for="salary-op1">0-1 lacs
													<span>(120)</span> </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="salary-op2" type="radio"
													name="radio-currency">
												<label class="custom-control-label" for="salary-op2">1-2 lacs
													<span>(300)</span> </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="salary-op3" type="radio"
													name="radio-currency">
												<label class="custom-control-label" for="salary-op3">2-3 lacs
													<span>(235)</span> </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="salary-op4" type="radio"
													name="radio-currency">
												<label class="custom-control-label" for="salary-op4">3-4 lacs
													<span>(568)</span></label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="salary-op5" type="radio"
													name="radio-currency">
												<label class="custom-control-label" for="salary-op5">4-5 lacs
													<span>(798)</span></label>
											</div>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title">
											<a data-toggle="collapse" href="#industry" class="collapsed">
												Industry
											</a>
										</h6>
									</div>
									<div id="industry" class="acod-body collapse">
										<div class="acod-content">
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry1" type="radio"
													name="radio-industry">
												<label class="custom-control-label" for="industry1">Telecom
													<span>(5)</span> </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry2" type="radio"
													name="radio-industry">
												<label class="custom-control-label" for="industry2">Consulting Services
													<span>(10)</span> </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry3" type="radio"
													name="radio-industry">
												<label class="custom-control-label" for="industry3">Engineering/Projects
													<span>(15)</span> </label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry4" type="radio"
													name="radio-industry">
												<label class="custom-control-label"
													for="industry4">Manufacturing/Industrial <span>(12)</span></label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="industry5" type="radio"
													name="radio-industry">
												<label class="custom-control-label"
													for="industry5">Architecture/Interior Design
													<span>(8)</span></label>
											</div>
										</div>
									</div>
								</div>
							</aside>
						</div>
						<div class="col-xl-9 col-lg-8 col-md-7">
							<div class="job-bx-title clearfix">
								<h5 class="font-weight-700 pull-left text-uppercase">@Model.Count() Jobs Found</h5>
								<div class="float-right">
									<span class="select-title">Sort by freshness</span>
									<select class="bs-select-hidden">
										<option>Last 2 Months</option>
										<option>Last Months</option>
										<option>Last Weeks</option>
										<option>Last 3 Days</option>
									</select>
									<div class="btn-group bootstrap-select"><button type="button"
											class="btn dropdown-toggle btn-default" data-toggle="dropdown"
											title="Last 2 Months"><span class="filter-option pull-left">Last 2
												Months</span>&nbsp;<span class="caret fa fa-caret-down"></span></button>
										<div class="dropdown-menu open">
											<ul class="dropdown-menu inner" role="menu">
												<li data-original-index="0" class="selected"><a tabindex="0" class=""
														style="" data-tokens="null"><span class="text">Last 2
															Months</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
												<li data-original-index="1"><a tabindex="0" class="" style=""
														data-tokens="null"><span class="text">Last Months</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
												<li data-original-index="2"><a tabindex="0" class="" style=""
														data-tokens="null"><span class="text">Last Weeks</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
												<li data-original-index="3"><a tabindex="0" class="" style=""
														data-tokens="null"><span class="text">Last 3 Days</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
											</ul>
										</div>
									</div>
									<div class="float-right p-tb5 p-r10">
										<a href="#" class="p-lr5"><i class="fa fa-th-list"></i></a>
										<a href="#" class="p-lr5"><i class="fa fa-th"></i></a>
									</div>
								</div>
							</div>
							<div id="job-searchitems">
								<ul class="post-job-bx browse-job-grid row">

									@foreach(var x in Model)
									{
									<li class="col-lg-6 col-md-12">
										<div class="post-bx">
											<div class="d-flex m-b30">
												<div class="job-post-info">
													<h5><a asp-action="JobDetails" asp-route-id="@x.Id"
															asp-route-title="@x.Title.Replace(" "," -")"> @x.Title</a>
													</h5>
													<ul>
														<li><i class="fa fa-map-marker"></i> @x.Location</li>
														<li><i class="fa fa-bookmark-o"></i> @x.Category</li>
														<li><i class="fa fa-clock-o"></i> @x.PostedOn</li>
													</ul>
												</div>
											</div>
											 <div class="dez-post-tags clear">
											<div class="post-tags">
												@foreach (var item in x.Tag.Split(',').ToArray())
												{
												<a href="javascript:void(0);">@item </a>

												}

											</div>
											 </div>
											 <br>
											<div class="d-flex">
												<div class="job-time mr-auto">
													<a href="javascript:void(0);"><span>@x.Type</span></a>
												</div>
												<div class="salary-bx">
													<span>@x.MinSalary - @x.MaxSalary</span>
												</div>
											</div>
											<label class="like-btn">
												<input type="checkbox">
												<span class="checkmark"></span>
											</label>
										</div>
									</li>
									}

								</ul>
							</div>
							<div class="pagination-bx float-right m-t30">
								<ul class="pagination">
									<li class="previous"><a href="javascript:void(0);"><i class="ti-arrow-left"></i>
											Prev</a></li>
									<li class="active"><a href="javascript:void(0);">1</a></li>
									<li><a href="javascript:void(0);">2</a></li>
									<li><a href="javascript:void(0);">3</a></li>
									<li class="next"><a href="javascript:void(0);">Next <i
												class="ti-arrow-right"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Browse Jobs END -->
		</div>

	</div>
	<!-- Content END-->
	<!-- Modal Box -->
	<script src="/assets/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->


	<script>
		jQuery(document).ready(function () {


			$('#searchBtn').on('click', function (e) {
				var keyword = $('#keyword').val();
				var category = $('#category').val();

				e.preventDefault();
				$.ajax({
					url: '@Url.Action("JobFilter","Job")',
					type: "GET",
					data: {
						keyword: keyword,
						category: category
					},


					success: function (html) {

						$("#job-searchitems").replaceWith(html);




						return false;

					}
				});



			});
		});
	</script>