
													<li><strong>Job Title :</strong><p>  @ViewBag.details.Title </p></li>
													<li><strong>Experience :</strong><p> @ViewBag.details.Experience</p></li>
													<li><strong>Salary :</strong> <p> @ViewBag.details.MinSalary -  @ViewBag.details.MaxSalary</p>
                                                    <li><strong>Deadline :</strong><p> @ViewBag.details.Deadline</p></li>
													<li><strong>Openings :</strong> <p> @ViewBag.details.Opening</p>

												