@model JobsCatalog.Areas.Admin.ViewModels.AdminIndexView
<div>
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Jobs Posted</span>
                <span class="info-box-number">
                  @Model.JobCount
                  <small></small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Employee</span>
                <span class="info-box-number">@Model.EmployeeCount</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Employer</span>
                <span class="info-box-number">@Model.EmployerCount</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">New Jobs</span>
                <span class="info-box-number">@Model.NewJobCount</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-8">

            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Posted Today</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Company</th>
                      <th>Title</th>
                      <th>Job Type</th>
                      <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                      @foreach (var x in Model.IndexView)
                      {
                          
                      
                    <tr>
                      <td><a href="pages/examples/invoice.html">@x.CompanyName</a></td>
                      <td>@x.Title</td>
                      <td><span class="badge badge-success">@x.Type</span></td>
                      <td>
                       @x.Location
                      </td>
                    </tr>
                      }
                   
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
               
                <a asp-action="Index" asp-controller="Job" asp-area="Admin" class="btn btn-sm btn-secondary float-right">View All JObs</a>
              </div>
              <!-- /.card-footer -->
            </div>
            </div>
            <div class="col-md-4">
              <div class="info-box mb-3 bg-warning">
              <span class="info-box-icon"><i class="fas fa-tag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Resume</span>
                <span class="info-box-number">@Model.ResumeCount</span>
              </div>
              </div>
               <div class="info-box mb-3 bg-info">
              <span class="info-box-icon"><i class="fas fa-comment"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">New Job</span>
                <span class="info-box-number">@Model.NewJobCount</span>
              </div>
              </div>
               <div class="info-box mb-3 bg-success">
              <span class="info-box-icon"><i class="fas fa-heart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Applied Job</span>
                <span class="info-box-number">@Model.AppliedJobCount</span>
              </div>
              </div>
               <div class="info-box mb-3 bg-danger">
              <span class="info-box-icon"><i class="fas fa-tag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Expired</span>
                <span class="info-box-number">@Model.ExpiredJobCount</span>
              </div>
              </div>
              
              <!-- /.info-box-content -->
            </div>
            
            </div>
            <!-- /.card -->
          </div>
        
    </section>
    <!-- /.content -->
  </div>