@model MyCvView

<div class="page-content bg-white">
		<!-- contact area -->
        <div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full bg-white browse-job p-t50 p-b20">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-4 m-b30">
							<div class="sticky-top">
								<div class="candidate-info">
								<partial name="_EmployeeSidebar.cshtml"/>

								</div>
							</div>
						</div>
                <div class="col-xl-9 col-lg-8 m-b30">
                    @if(ViewBag.IsNull)
                    {
                        <div class="alert alert-danger alert error">
                      <a class="close" data-dismiss="alert">&times</a>
                       <p>Please complete your resume to view your cv</p>
                  </div>
                    }
                    else
                    {
                <div class="html-content">
                    <h4>@Model.Name</h4>
                    <p><strong>Professionam Title</strong> : @Model.ProfessionalTitle</p>
                    <p> <strong>Address : @Model.Address <strong></p>
                     <p> <strong>Email : @Model.Email <strong></p>
                      <p> <strong>Phone : @Model.Phone <strong></p>
                    <h2>Skills</h2>
                      @foreach (var item in Model.KeySkill.Split(','))
                      {
                         <li>@item</li> 
                      }
                      <br>
                  
                    <h2>Objectives</h2>
                    <p>@Model.Objective</p>
                     <h2>Spelicalization</h2>
                    <p>1 @Model.Specialization.Specialization1</p>
                     <p>2 @Model.Specialization.Specialization2</p>
                      <p>3 @Model.Specialization.Specialization3</p>
                     <h2>Education</h2>
                     <p><strong>University</strong>: @Model.Education.University</p>
                      <p><strong>College</strong>: @Model.Education.College</p>
                    <p><strong>Course</strong>: @Model.Education.CourseTitle</p>
                     <p><strong>CGPA</strong>: @Model.Education.CGPA</p>
                    <p><strong>Graducated</strong>: @Model.Education.GraduatedDate</p>
                     <h2>Profile Summary</h2>
                     <p>@Model.ProfileSummary.Summary</p>
                      <h2>Preference</h2>
                      <p><strong>Industry :</strong>@Model.JobPreference.Industry</p>
                      <p><strong>Functional Area :</strong>@Model.JobPreference.FunctionalArea</p>
                      <p><strong>Desired Location :</strong>@Model.JobPreference.DesiredLocation</p>
                      <p><strong>Expected Salary :</strong>@Model.JobPreference.ExpectedSalary</p>
                      <p><strong>Current Salary :</strong>@Model.JobPreference.CurrentSalary</p>
                      <h2>Experience</h2>
                     <p><strong>Work Title :</strong>@Model.Experience.WorkTitle</p>
                      <p><strong>Company Name :</strong>@Model.Experience.CompanyName</p>
                       <p><strong>Company Addeess :</strong>@Model.Experience.CompanyAddress</p>
                        <p><strong>Responsibility :</strong>@Model.Experience.Responsibility</p>
                         <p><strong>From </strong> : @Model.Experience.FromYear </p>
                          <p><strong>TO</strong> :@Model.Experience.ToYear</p>
                </div>
                    }



                <a  class="job-links" onclick="CreatePDFfromHTML()">
												<i class="fa fa-download"></i>
				</a>


				</div>
							<!-- Modal -->

							<!-- Modal End -->

					</div>
				</div>
			</div>
        </div>
</div>
<script src="/assets/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>
    function CreatePDFfromHTML() {
    var HTML_Width = $(".html-content").width();
    var HTML_Height = $(".html-content").height();
    var top_left_margin = 15;
    var PDF_Width = HTML_Width + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;

    var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

    html2canvas($(".html-content")[0]).then(function (canvas) {
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
        for (var i = 1; i <= totalPDFPages; i++) {
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
        }
        pdf.save("Your_PDF_Name.pdf");

    });
}
</script>